body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.container{
    display: flex;
    margin-top: 2%;
}
.work-22{
    color: rgba(0, 0, 255, 0.664);
}
.first-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.first-width h1{
    font-size: 42px;
    border-image: linear-gradient(blue, blue);
    border-left: 3px solid;
    border-image-slice: 1;
    padding-left: 1%;
}
.first-width img{
    width: 70%;
    height: 90%;
}
.button{
    color:white;
    background-color: rgb(3, 3, 216);
    text-decoration: none;
    padding: 2%;
}
.middle-work h1{
    text-align: center;
    font-size: 42px;
}
.middle-work{
    padding: 5%;
}
.middle-box img{
    width: 40%;   
}
.middle-box{
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 5%;
    border-radius: 5%;
}
#mission{
    background-color: rgb(215, 219, 240);
}
#vision{
    background-color: rgb(204, 201, 202);
}
#goal{
    background-color: rgb(205, 188, 207);
}
.background{
    background-image: url(exp-bg3.jpg);
    background-position: left;
    background-repeat: no-repeat;
}
#background-position{
    background-image: url(dream-bg5.jpg);
    background-position: right;
}
.about{    
    height: 750px;
}
.about img{
    margin-top: 50px;
    height: 400px;
    width: 800px;
    padding-left: 20%;
}
.about h2{
    text-align: center;
}
.about p{
    color: black;
    width: 96%;
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}
.footer-background{
    background-color: rgb(2, 0, 20);
    height: 150px;
}
.footer-background h1{
    color: white;
    text-align: center;
}
.footer-background p{
    color: white;
    text-align: center;
}

